/* Groceries list*/

body::after {
  background-image: url(wallpaper.jpg);
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.groceries-list-title {
  text-align: center;
  margin: 20px auto 50px;
}

.groceries-form {
  margin-bottom: 50px;
}

.groceries-task-list {
  width: 60%;
}

.groceries-task,
.g-edit-button,
.g-delete-button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.g-edit-button:hover,
.g-delete-button:hover {
  font-weight: bold;
}

.g-todo {
  display: flex;
}

.g-todo-item {
  flex-direction: row;
}
