.Title-Ed{
    font-weight:700;
    text-decoration:underline;
    margin-top: 4rem; 
    color:blue;  
}
div{
    height:auto;

}
div #Title{
    justify-content:center;
}
div #Plus{
    height:auto;
}
div.buttons{
    justify-content:flex-end;
}
.btn{
    margin:0.1rem;
}
.text{
    overflow-wrap:break-word;
    color:green
}
body {
    background-image: url(Background.jpg);
    background-size: cover;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-top:0.8rem;
}